@import url("https://fonts.googleapis.com/css?family=Nunito:200i,300,300i,400,400i,600,600i,700,700i,800,800i,900|Yantramanav:100,300,400,500,700,900");
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

#intro {
  max-width: 100%;
  min-height: 800px;
  background: url("../img/intro1.png") no-repeat center/cover; }
  #intro .logo {
    padding: 33px 1103px 0px 35px; }
  #intro .intro_all {
    width: 100%;
    padding-top: 195px;
    display: flex;
    flex-direction: row; }
    #intro .intro_all .ellipse {
      padding-right: 53px;
      display: flex; }
      #intro .intro_all .ellipse nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        position: fixed; }
      #intro .intro_all .ellipse nav li {
        list-style-type: none;
        margin-bottom: 11px; }
    #intro .intro_all .intro_text {
      display: flex;
      flex-direction: column;
      width: 100%; }
      #intro .intro_all .intro_text .caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px; }
        #intro .intro_all .intro_text .caption .Coming_Soon {
          height: 56px;
          color: #ffffff;
          font-family: Nunito;
          font-size: 60px;
          font-weight: 400;
          line-height: 38.4px; }
        #intro .intro_all .intro_text .caption .gop {
          text-align: center;
          padding: 0px 295px 0 360px;
          height: 47px;
          color: #ffffff;
          font-family: Yantramanav;
          font-size: 20px;
          font-weight: 300;
          line-height: 27px; }
      #intro .intro_all .intro_text .pad {
        display: flex;
        flex-direction: row;
        justify-content: center; }
        #intro .intro_all .intro_text .pad input {
          border-radius: 30px 0 0 30px;
          border: none;
          width: 325px;
          height: 50px;
          background-color: #ffffff;
          color: #8c8c8c;
          font-family: Yantramanav;
          font-size: 18px;
          font-weight: 300;
          padding: 19px 132px 18px 31px; }
        #intro .intro_all .intro_text .pad button {
          margin-left: -20px;
          border-radius: 0 30px 30px 0;
          border: none;
          width: 170px;
          height: 50px;
          background-color: #20ab50;
          color: #ffffff;
          font-family: Nunito;
          font-size: 20px;
          font-weight: 400; }
          #intro .intro_all .intro_text .pad button :hover {
            pointer: cursor; }

#about {
  max-width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: space-between; }
  #about .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #about .text .about {
      height: 23px;
      color: #000000;
      font-family: Nunito;
      font-size: 30px;
      font-weight: 600; }
    #about .text p {
      padding: 45px 130px 0 113px;
      line-height: 24px;
      letter-spacing: 0.8px;
      color: #000000;
      font-family: "Yantramanav";
      font-size: 16px;
      font-weight: 300; }
  #about .img1 img {
    width: 790px;
    height: 850px; }

#Reviews1 {
  max-width: 100%;
  min-height: 800px; }
  #Reviews1 .first {
    min-height: 800px;
    display: flex;
    flex-direction: row; }
    #Reviews1 .first .img2 img {
      width: 700px;
      height: 830px; }
    #Reviews1 .first .text1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #Reviews1 .first .text1 .customers {
        padding-bottom: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-height: 28px;
        color: #000000;
        font-family: Nunito;
        font-size: 30px;
        font-weight: 600; }
      #Reviews1 .first .text1 .p1 {
        padding-bottom: 100px;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        font-family: "Yantramanav";
        font-weight: 300; }
      #Reviews1 .first .text1 .p2 {
        font-size: 18px;
        letter-spacing: 0.9px;
        line-height: 26px;
        text-align: center;
        color: #000000;
        font-family: "Yantramanav";
        font-weight: 300; }

#Reviews2 {
  max-width: 100%;
  min-height: 800px; }
  #Reviews2 .second {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #Reviews2 .second .img3 img {
      width: 790px;
      height: 900px; }
    #Reviews2 .second .text2 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #Reviews2 .second .text2 .p3 {
        line-height: 30px;
        letter-spacing: 1px;
        font-size: 20px;
        text-align: center;
        color: #000000;
        font-family: "Yantramanav";
        font-weight: 300; }
      #Reviews2 .second .text2 .p4 {
        padding: 94px 25px 0px 0px;
        font-size: 18px;
        letter-spacing: 0.9px;
        line-height: 26px;
        text-align: center;
        color: #000000;
        font-family: "Yantramanav";
        font-weight: 300; }

#range {
  max-width: 100%;
  min-height: 798px; }
  #range #fader {
    position: relative;
    max-width: 500px;
    margin: 140px auto; }
    #range #fader img {
      position: absolute;
      max-width: 500;
      height: 600; }
  #range img.pad2 {
    margin-top: -20px; }
  #range img.pad4 {
    margin-top: -110px; }
  #range img.pad5 {
    margin-top: -65px; }
  #range .the {
    padding: 77px 450px 0px 477px;
    text-align: center; }
    #range .the .the_range {
      font-family: Nunito;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 0.15px;
      line-height: 38.4px; }
    #range .the .styles {
      font-weight: 100;
      letter-spacing: 0.80px;
      line-height: 40px; }

#why_plae {
  max-width: 100%;
  min-height: 798px;
  background: url("../img/why.png") no-repeat center/cover; }
  #why_plae .plae {
    padding: 74px 415px 0px 442px;
    text-align: center; }
    #why_plae .plae .why {
      font-family: Nunito;
      font-size: 30px;
      font-weight: 600;
      line-height: 38.4px; }
    #why_plae .plae .features {
      font-weight: 100;
      letter-spacing: 0.89px;
      line-height: 40px; }
  #why_plae #all_boxes {
    display: flex;
    flex-direction: row; }
    #why_plae #all_boxes #box1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0px 0px 10px 59px;
      height: 605px;
      width: 100%; }
      #why_plae #all_boxes #box1 .box1 {
        padding: 12px 0px 0px 10px;
        width: 333px;
        height: 94px;
        background-color: #ffffff;
        border-radius: 10px; }
        #why_plae #all_boxes #box1 .box1 .hb1 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #why_plae #all_boxes #box1 .box1 .tb1 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.015px;
          line-height: 22px; }
      #why_plae #all_boxes #box1 .box2 {
        padding: 10px 10px 0px 10px;
        width: 333px;
        height: 154px;
        background-color: #ffffff;
        border-radius: 10px; }
        #why_plae #all_boxes #box1 .box2 .hb2 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #why_plae #all_boxes #box1 .box2 .tb2 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.015px;
          line-height: 22px; }
      #why_plae #all_boxes #box1 .box3 {
        padding: 13px 10px 15px 14px;
        width: 333px;
        height: 200px;
        background-color: #ffffff;
        border-radius: 10px; }
        #why_plae #all_boxes #box1 .box3 .hb3 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #why_plae #all_boxes #box1 .box3 .tb3 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.015px;
          line-height: 22px; }
      #why_plae #all_boxes #box1 .box4 {
        padding: 10px 0px 0px 12px;
        width: 333px;
        height: 135px;
        background-color: #ffffff;
        border-radius: 10px; }
        #why_plae #all_boxes #box1 .box4 .hb4 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #why_plae #all_boxes #box1 .box4 .tb4 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.015px;
          line-height: 22px; }
    #why_plae #all_boxes #box2 {
      padding-right: 53px;
      padding-top: 15px;
      display: flex;
      flex-direction: column; }
      #why_plae #all_boxes #box2 .box5 {
        padding: 13px 60px 0px 15px;
        width: 533px;
        height: 69px;
        background-color: #ffffff;
        border-radius: 10px; }
        #why_plae #all_boxes #box2 .box5 .hb5 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #why_plae #all_boxes #box2 .box5 .tb5 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.015px;
          line-height: 22px; }
      #why_plae #all_boxes #box2 .box6 {
        margin: 9px 0px 0px 0px;
        padding: 15px 10px 0px 10px;
        width: 533px;
        height: 113px;
        background-color: #ffffff;
        border-radius: 10px; }
        #why_plae #all_boxes #box2 .box6 .hb6 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #why_plae #all_boxes #box2 .box6 .tb6 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.015px;
          line-height: 22px; }
      #why_plae #all_boxes #box2 .box7 {
        margin: 9px 0px 0px 0px;
        padding: 15px 25px 15px 14px;
        width: 533px;
        height: 113px;
        background-color: #ffffff;
        border-radius: 10px; }
        #why_plae #all_boxes #box2 .box7 .hb7 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #why_plae #all_boxes #box2 .box7 .tb7 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.015px;
          line-height: 22px; }
      #why_plae #all_boxes #box2 .box8 {
        margin: 9px 0px 0px 0px;
        padding: 15px 0px 0px 15px;
        width: 533px;
        height: 137px;
        background-color: #ffffff;
        border-radius: 10px; }
        #why_plae #all_boxes #box2 .box8 .hb8 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #why_plae #all_boxes #box2 .box8 .tb8 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.015px;
          line-height: 22px; }
      #why_plae #all_boxes #box2 .box9 {
        margin: 9px 0px 0px 0px;
        padding: 10px 30px 0px 12px;
        width: 533px;
        height: 88px;
        background-color: #ffffff;
        border-radius: 10px; }
        #why_plae #all_boxes #box2 .box9 .hb9 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #why_plae #all_boxes #box2 .box9 .tb9 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 0.015px;
          line-height: 22px; }

#where {
  max-width: 100%;
  min-height: 1055px; }
  #where .UK {
    padding: 88px 495px 0px 440px;
    text-align: center; }
    #where .UK .find {
      font-family: Nunito;
      font-size: 30px;
      font-weight: 500;
      line-height: 38.4px; }
    #where .UK .stock {
      font-weight: 100;
      letter-spacing: 0.40px;
      line-height: 40px; }
  #where .fl {
    display: flex;
    flex-direction: row; }
    #where .fl .column {
      display: inline-block; }
    #where .fl .forward1 {
      padding: 0px 130px 0px 120px; }
      #where .fl .forward1 .bot {
        padding-bottom: 54px; }
        #where .fl .forward1 .bot .best1 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #where .fl .forward1 .bot .liverpool1 {
          font-weight: 100;
          letter-spacing: 0.15px;
          line-height: 22px; }
        #where .fl .forward1 .bot .link1 {
          color: #1faa50;
          font-weight: 100;
          letter-spacing: 0.15px;
          line-height: 30px; }
    #where .fl .forward2 {
      padding: 0px 130px 0px 0px; }
      #where .fl .forward2 .bot {
        padding-bottom: 54px; }
        #where .fl .forward2 .bot .best2 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #where .fl .forward2 .bot .liverpool2 {
          font-weight: 100;
          letter-spacing: 0.15px;
          line-height: 22px; }
        #where .fl .forward2 .bot .link2 {
          color: #1faa50;
          font-weight: 100;
          letter-spacing: 0.15px;
          line-height: 30px; }
    #where .fl .forward3 {
      padding: 0px 130px 0px 0px; }
      #where .fl .forward3 .bot {
        padding-bottom: 54px; }
        #where .fl .forward3 .bot .best3 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #where .fl .forward3 .bot .liverpool3 {
          font-weight: 100;
          letter-spacing: 0.15px;
          line-height: 22px; }
        #where .fl .forward3 .bot .link3 {
          color: #1faa50;
          font-weight: 100;
          letter-spacing: 0.15px;
          line-height: 30px; }
    #where .fl .forward4 {
      padding: 0px 130px 0px 0px; }
      #where .fl .forward4 .bot {
        padding-bottom: 54px; }
        #where .fl .forward4 .bot .best4 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #where .fl .forward4 .bot .liverpool4 {
          font-weight: 100;
          letter-spacing: 0.15px;
          line-height: 22px; }
        #where .fl .forward4 .bot .link4 {
          color: #1faa50;
          font-weight: 100;
          letter-spacing: 0.15px;
          line-height: 30px; }
    #where .fl .forward5 {
      padding: 0px 130px 0px 0px; }
      #where .fl .forward5 .bot {
        padding-bottom: 54px; }
        #where .fl .forward5 .bot .best5 {
          font-family: Yantramanav;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.08px;
          line-height: 24px; }
        #where .fl .forward5 .bot .liverpool5 {
          font-weight: 100;
          letter-spacing: 0.15px;
          line-height: 22px; }
        #where .fl .forward5 .bot .link5 {
          color: #1faa50;
          font-weight: 100;
          letter-spacing: 0.15px;
          line-height: 30px; }
  #where .contact {
    padding: 22px 0px 0px 0px;
    text-align: center; }
    #where .contact .hc1 {
      font-family: Nunito;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.12px;
      line-height: 38.4px; }
    #where .contact .tc1 {
      font-size: 17px;
      font-weight: 100;
      letter-spacing: 0.80px;
      line-height: 36px; }
  #where .mp {
    padding: 30px 0px 0 0; }
    #where .mp .link5 {
      font-family: Yantramanav;
      color: #1faa50;
      font-weight: 300;
      letter-spacing: 0.18px;
      line-height: 30px;
      font-size: 18px; }
    #where .mp .phone {
      font-family: Yantramanav;
      font-size: 18px;
      font-weight: 400;
      line-height: 38.4px;
      letter-spacing: 0.18px; }

#signup {
  max-width: 100%;
  min-height: 405px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #signup .alltext .first {
    width: 422px;
    height: 39px;
    color: #000000;
    font-family: Nunito;
    font-size: 30px;
    font-weight: 600; }
  #signup .alltext .sign {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px; }
  #signup .pad {
    padding-top: 50px;
    display: flex; }
  #signup input {
    border-radius: 30px 0 0 30px;
    border: none;
    width: 325px;
    height: 50px;
    background-color: #ffffff;
    color: #8c8c8c;
    font-family: Yantramanav;
    font-size: 18px;
    font-weight: 300;
    padding: 19px 132px 18px 31px; }
  #signup button {
    margin-left: -20px;
    border-radius: 0 30px 30px 0;
    border: none;
    width: 170px;
    height: 50px;
    background-color: #20ab50;
    color: #ffffff;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400; }
    #signup button :hover {
      pointer: cursor; }

#footer {
  max-width: 100%;
  min-height: 43px;
  background-color: #dcdcdc; }
  #footer .footer {
    padding: 15px 0px 14px 37px;
    height: 14px;
    color: #ffffff;
    font-family: Yantramanav;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.35px; }

@media (min-width: 480px) {
  #intro {
    min-height: 700px; }

  #intro .intro_all .intro_text .caption .gop {
    padding: 0px 10px 0 10px; }

  #intro .intro_all .intro_text .pad input {
    width: 300px;
    font-size: 15px; }

  #intro .intro_all .intro_text .pad button {
    width: 120px; }

  #intro .intro_all .ellipse {
    display: none; }

  #about {
    flex-direction: column;
    min-height: 700px; }

  #about .text p {
    padding: 45px 10px 0 10px; }

  #about .text {
    height: 700px; }

  #about .img1 img {
    display: none; }

  #Reviews1 {
    background: url("../img/emme-pink-scooter--1-.png") no-repeat center/cover;
    min-height: 600px; }

  #Reviews1 .first {
    min-height: 600px; }

  #Reviews1 .first .text1 .customers {
    color: #fff; }

  #Reviews1 .first .text1 .p1 {
    color: #fff; }

  #Reviews1 .first .text1 .p2 {
    color: #fff; }

  #Reviews1 .first .img2 img {
    display: none; }

  #Reviews2 {
    background: url("../img/high-res-ty-red-steel-drip.png") no-repeat center/cover;
    min-height: 600px; }

  #Reviews2 .first {
    min-height: 600px; }

  #Reviews2 .img3 img {
    display: none; }

  #Reviews2 .second .text2 {
    min-height: 600px; }

  #Reviews2 .second .text2 .p3 {
    color: #fff; }

  #Reviews2 .second .text2 .p4 {
    color: #fff; }

  #range {
    min-height: 700px; }

  #range .the {
    padding: 77px 10px 0px 10px; }

  #why_plae {
    background: url(../img/why3.png) no-repeat center/cover; }

  #why_plae .plae {
    padding: 74px 5px 0px 5px; }

  #why_plae #all_boxes #box1 {
    height: 520px;
    align-items: center;
    margin: 50px 0px 0px 0px; }

  #why_plae #all_boxes #box2 {
    padding-top: 0px;
    display: none; }

  #why_plae #all_boxes #box1 .box1 {
    width: 333px; }

  #why_plae #all_boxes #box1 .box2 {
    width: 333px;
    height: 130px; }

  #why_plae #all_boxes #box1 .box3 {
    width: 333px;
    height: 150px; }

  #why_plae #all_boxes #box1 .box4 {
    width: 333px;
    height: 110px; }

  #where {
    min-height: 700px; }

  #where .UK {
    padding: 88px 10px 0px 10px; }

  #where .forward1 {
    padding: 66px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }

  #where .fl .column {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 0px 20px 0px 20px; }

  #where .fl .forward5 {
    display: none; }

  #where .fl .forward4 {
    display: none; }

  #where .fl .forward3 {
    display: none; }

  #where .fl .forward2 {
    display: none; }

  #signup input {
    font-size: 15px;
    width: 300px; }

  #signup button {
    width: 120px; } }
@media (min-width: 800px) {
  #intro .intro_all .intro_text .caption .gop {
    padding: 0px 10px 0 10px; }

  #intro .intro_all .ellipse {
    display: none; }

  #about {
    flex-direction: column; }

  #about .text p {
    padding: 45px 100px 0 100px; }

  #about .text {
    height: 700px; }

  #about .img1 img {
    display: none; }

  #Reviews1 {
    background: url("../img/emme-pink-scooter--1-.png"); }

  #Reviews1 .first .text1 .customers {
    color: #fff; }

  #Reviews1 .first .text1 .p1 {
    color: #fff; }

  #Reviews1 .first .text1 .p2 {
    color: #fff; }

  #Reviews1 .first .img2 img {
    display: none; }

  #Reviews2 {
    background: url("../img/high-res-ty-red-steel-drip.png"); }

  #Reviews2 .img3 img {
    display: none; }

  #Reviews2 .second .text2 {
    min-height: 800px; }

  #Reviews2 .second .text2 .p3 {
    color: #fff; }

  #Reviews2 .second .text2 .p4 {
    color: #fff; }

  #range .the {
    padding: 77px 10px 0px 10px; }

  #why_plae {
    background: url(../img/why3.png) no-repeat center/cover; }

  #why_plae .plae {
    padding: 74px 5px 0px 5px; }

  #why_plae #all_boxes #box1 {
    height: 520px;
    margin: 0px 0px 10px 59px; }

  #why_plae #all_boxes #box2 {
    padding-top: 0px;
    display: flex; }

  #why_plae #all_boxes #box1 .box1 {
    width: 333px; }

  #why_plae #all_boxes #box1 .box2 {
    width: 333px;
    height: 130px; }

  #why_plae #all_boxes #box1 .box3 {
    width: 333px;
    height: 150px; }

  #why_plae #all_boxes #box1 .box4 {
    width: 333px;
    height: 110px; }

  #why_plae #all_boxes #box2 .box5 {
    width: 333px;
    height: 70px; }

  #why_plae #all_boxes #box2 .box6 {
    width: 333px;
    height: 115px; }

  #why_plae #all_boxes #box2 .box7 {
    width: 333px;
    height: 90px; }

  #why_plae #all_boxes #box2 .box8 {
    width: 333px;
    height: 120px; }

  #why_plae #all_boxes #box2 .box9 {
    width: 333px; }

  #where {
    min-height: 700px; }

  #where .UK {
    padding: 88px 10px 0px 10px; }

  #where .fl.forward1 {
    padding: 66px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%; }

  #where .fl .forward5 {
    display: none; }

  #where .fl .forward4 {
    display: none; }

  #where .fl .forward3 {
    display: none; }

  #where .fl .forward2 {
    display: none; } }
@media (min-width: 1024px) {
  #intro .intro_all .intro_text .caption .gop {
    padding: 0px 200px 0 200px; }

  #about {
    min-height: 600px;
    display: flex;
    flex-direction: row; }

  #intro .intro_all .ellipse {
    display: flex; }

  #about .img1 img {
    display: flex;
    width: 500px;
    height: 600px; }

  #about .text {
    height: 600px;
    justify-content: flex-start;
    padding-top: 20px; }

  #about .text p {
    padding: 10px 50px 0px 50px; }

  #Reviews1 {
    background: none;
    min-height: 600px; }

  #Reviews1 .first .text1 .customers {
    color: #000; }

  #Reviews1 .first .text1 .p1 {
    color: #000; }

  #Reviews1 .first .text1 .p2 {
    color: #000; }

  #Reviews1 .first {
    min-height: 500px; }

  #Reviews1 .first .img2 img {
    display: flex;
    width: 525px;
    height: 630px; }

  #Reviews2 {
    min-height: 600px;
    background: none; }

  #Reviews2 .second {
    height: 600px; }

  #Reviews2 .second .img3 img {
    display: flex;
    width: 500px;
    height: 600px; }

  #Reviews2 .second .text2 .p3 {
    color: #000; }

  #Reviews2 .second .text2 .p4 {
    color: #000; }

  #Reviews2 .second .text2 {
    padding-left: 0px; }

  #range .the {
    padding: 77px 200px 0px 200px;
    text-align: center; }

  #why_plae {
    background: url(../img/why3.png) no-repeat center/cover; }

  #why_plae .plae {
    padding: 74px 200px 0px 200px;
    text-align: center; }

  #why_plae #all_boxes #box1 {
    height: 605px;
    padding-top: 0px;
    align-items: flex-start; }

  #why_plae #all_boxes #box2 {
    padding-top: 0px; }

  #why_plae #all_boxes #box1 .box1 {
    width: 233px; }

  #why_plae #all_boxes #box1 .box2 {
    width: 233px;
    height: 153px; }

  #why_plae #all_boxes #box1 .box3 {
    width: 233px;
    height: 200px; }

  #why_plae #all_boxes #box1 .box4 {
    width: 233px;
    height: 135px; }

  #why_plae #all_boxes #box2 .box5 {
    width: 233px;
    height: 90px; }

  #why_plae #all_boxes #box2 .box6 {
    width: 233px;
    height: 135px; }

  #why_plae #all_boxes #box2 .box7 {
    width: 233px;
    height: 113px; }

  #why_plae #all_boxes #box2 .box8 {
    width: 233px;
    height: 160px; }

  #why_plae #all_boxes #box2 .box9 {
    width: 233px; }

  #where .UK {
    padding: 88px 200px 0px 200px;
    text-align: center; }

  #where .fl .forward1 {
    display: inline-block;
    padding: 0px 70px 0px 140px; }

  #where .fl .forward2 {
    display: inline-block;
    padding: 0px 70px 0px 0px; }

  #where .fl .forward3 {
    display: inline-block;
    padding: 0px 70px 0px 0px; }

  #where .fl.forward4 {
    display: none; }

  #where .fl .forward5 {
    display: none; }

  #signup input {
    width: 325px; }

  #signup button {
    width: 170px; } }
@media (min-width: 1366px) {
  #intro .intro_all .intro_text .pad input {
    width: 325px; }

  #intro .intro_all .intro_text .pad button {
    width: 170px; }

  #about {
    min-height: 700px; }

  #about .text {
    padding-top: 100px; }

  #about .text p {
    padding: 30px 50px 0px 50px; }

  #about .img1 img {
    width: 658px;
    height: 700px; }

  #Reviews2 {
    min-height: 750px; }

  #Reviews1 .first .img2 img {
    width: 708px;
    height: 820px; }

  #Reviews2 .second .img3 img {
    width: 658px;
    height: 750px; }

  #why_plae {
    background: url("../img/why3.png") no-repeat center/cover; }

  #why_plae #all_boxes #box1 {
    height: 600px; }

  #why_plae #all_boxes #box1 .box2 {
    height: 153px; }

  #why_plae #all_boxes #box1 .box3 {
    height: 200px; }

  #why_plae #all_boxes #box1 .box4 {
    height: 135px; }

  #why_plae #all_boxes #box2 {
    padding-top: 0px;
    padding-right: 90px; }

  #why_plae #all_boxes #box2 .box5 {
    width: 333px;
    height: 70px; }

  #why_plae #all_boxes #box2 .box6 {
    width: 333px;
    height: 115px; }

  #why_plae #all_boxes #box2 .box7 {
    width: 333px;
    height: 100px; }

  #why_plae #all_boxes #box2 .box8 {
    width: 333px;
    height: 120px; }

  #why_plae #all_boxes #box2 .box9 {
    width: 333px; }

  #where .fl .forward4 {
    display: inline-block; }

  #where .fl .forward5 {
    display: none; } }
@media (min-width: 1511px) {
  #about .text p {
    padding: 50px 50px 0px 50px; }

  #about .text {
    padding-top: 100px; }

  #about .img1 img {
    width: 758px;
    height: 800px; }

  #Reviews1 .first .img2 img {
    width: 761px;
    height: 900px; }

  #Reviews2 {
    min-height: 900px; }

  #Reviews2 .second .img3 img {
    width: 758px;
    height: 900px; }

  #where .fl .forward1 {
    padding: 0px 130px 0px 130px; }

  #where .fl .forward5 {
    display: none; }

  #why_plae {
    background: url(../img/why.png) no-repeat center/cover; }

  #why_plae #all_boxes #box1 {
    height: 630px; }

  #why_plae #all_boxes #box2 {
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

  #why_plae #all_boxes #box1 .box1 {
    width: 333px; }

  #why_plae #all_boxes #box1 .box2 {
    height: 150px;
    width: 333px; }

  #why_plae #all_boxes #box1 .box3 {
    height: 195px;
    width: 333px; }

  #why_plae #all_boxes #box1 .box4 {
    height: 130px;
    width: 333px; } }
@media (min-width: 1824px) {
  #about .text {
    padding-top: 200px; }

  #about .img1 img {
    width: 923px;
    height: 1059px; }

  #Reviews2 .second .img3 img {
    width: 923px;
    height: 1060px; }

  #Reviews1 .first .img2 img {
    width: 900px;
    height: 1030px; }

  #Reviews2 {
    min-height: 1050px; }

  #Reviews2 .second .text2 {
    padding-left: 0px;
    height: 1050px; }

  #why_plae {
    min-height: 1050px;
    background: url("../img/why2.png") no-repeat center/cover; }

  #why_plae .plae {
    padding: 14px 415px 0px 442px;
    text-align: center; }

  #why_plae #all_boxes #box1 {
    height: 624px;
    margin: 0px 0px 0px 90px; }

  #why_plae #all_boxes #box1 .box2 {
    height: 130px; }

  #why_plae #all_boxes #box1 .box3 {
    height: 160px; }

  #why_plae #all_boxes #box1 .box4 {
    height: 115px; }

  #why_plae #all_boxes #box2 {
    padding-top: 0px;
    padding-right: 90px; }

  #why_plae #all_boxes #box2 .box5 {
    width: 233px;
    height: 90px; }

  #why_plae #all_boxes #box2 .box6 {
    width: 233px;
    height: 135px; }

  #why_plae #all_boxes #box2 .box7 {
    width: 233px;
    height: 120px; }

  #why_plae #all_boxes #box2 .box8 {
    width: 233px;
    height: 155px; }

  #why_plae #all_boxes #box2 .box9 {
    width: 233px; }

  #where .fl .forward1 {
    padding: 0px 70px 0px 240px; }

  #where .fl .forward5 {
    display: inline-block;
    padding: 0px 160px 0px 0px; } }

/*# sourceMappingURL=style.css.map */
